// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders, mergeOnlyDefinedHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as PumpUp from "../../../index.js";

export declare namespace TasksClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

/**
 * Create and inspect tasks (cases) — the unit a team works.
 */
export class TasksClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<TasksClient.Options>;

    constructor(options: TasksClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Optionally filter by projectId and/or a case-insensitive substring of the task name.
     *
     * @param {PumpUp.TasksListRequest} request
     * @param {TasksClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link PumpUp.BadRequestError}
     * @throws {@link PumpUp.NotFoundError}
     * @throws {@link PumpUp.ConflictError}
     * @throws {@link PumpUp.InternalServerError}
     *
     * @example
     *     await client.tasks.list()
     */
    public list(
        request: PumpUp.TasksListRequest = {},
        requestOptions?: TasksClient.RequestOptions,
    ): core.HttpResponsePromise<PumpUp.TaskListResponse> {
        return core.HttpResponsePromise.fromPromise(this.__list(request, requestOptions));
    }

    private async __list(
        request: PumpUp.TasksListRequest = {},
        requestOptions?: TasksClient.RequestOptions,
    ): Promise<core.WithRawResponse<PumpUp.TaskListResponse>> {
        const { projectId, name } = request;
        const _queryParams: Record<string, unknown> = {
            projectId,
            name,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "X-API-Version": requestOptions?.version ?? this._options?.version ?? "0" }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.PumpUpEnvironment.Default,
                "api/tasks",
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as PumpUp.TaskListResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new PumpUp.BadRequestError(_response.error.body as PumpUp.ApiError, _response.rawResponse);
                case 404:
                    throw new PumpUp.NotFoundError(_response.error.body as PumpUp.ErrorResponse, _response.rawResponse);
                case 409:
                    throw new PumpUp.ConflictError(_response.error.body as PumpUp.ErrorResponse, _response.rawResponse);
                case 500:
                    throw new PumpUp.InternalServerError(
                        _response.error.body as PumpUp.ErrorResponse,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.PumpUpError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/api/tasks");
    }

    /**
     * The task opens in the project's initial state; use the returned id as taskId on subsequent events. The name is immutable.
     *
     * @param {PumpUp.CreateTaskRequest} request
     * @param {TasksClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link PumpUp.BadRequestError}
     * @throws {@link PumpUp.NotFoundError}
     * @throws {@link PumpUp.ConflictError}
     * @throws {@link PumpUp.InternalServerError}
     *
     * @example
     *     await client.tasks.create({
     *         "Idempotency-Key": "Idempotency-Key",
     *         name: "Claim C-1029",
     *         projectName: "claims_refund_v1"
     *     })
     */
    public create(
        request: PumpUp.CreateTaskRequest,
        requestOptions?: TasksClient.RequestOptions,
    ): core.HttpResponsePromise<PumpUp.TaskResponse> {
        return core.HttpResponsePromise.fromPromise(this.__create(request, requestOptions));
    }

    private async __create(
        request: PumpUp.CreateTaskRequest,
        requestOptions?: TasksClient.RequestOptions,
    ): Promise<core.WithRawResponse<PumpUp.TaskResponse>> {
        const { "Idempotency-Key": idempotencyKey, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "Idempotency-Key": idempotencyKey,
                "X-API-Version": requestOptions?.version ?? this._options?.version ?? "0",
            }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.PumpUpEnvironment.Default,
                "api/tasks",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: _body,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as PumpUp.TaskResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new PumpUp.BadRequestError(_response.error.body as PumpUp.ApiError, _response.rawResponse);
                case 404:
                    throw new PumpUp.NotFoundError(_response.error.body as PumpUp.ErrorResponse, _response.rawResponse);
                case 409:
                    throw new PumpUp.ConflictError(_response.error.body as PumpUp.ErrorResponse, _response.rawResponse);
                case 500:
                    throw new PumpUp.InternalServerError(
                        _response.error.body as PumpUp.ErrorResponse,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.PumpUpError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/api/tasks");
    }

    /**
     * Materialized state — name, current state, metadata, attachments — plus open requests awaiting a human.
     *
     * @param {PumpUp.TasksGetRequest} request
     * @param {TasksClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link PumpUp.BadRequestError}
     * @throws {@link PumpUp.NotFoundError}
     * @throws {@link PumpUp.ConflictError}
     * @throws {@link PumpUp.InternalServerError}
     *
     * @example
     *     await client.tasks.get({
     *         id: "id"
     *     })
     */
    public get(
        request: PumpUp.TasksGetRequest,
        requestOptions?: TasksClient.RequestOptions,
    ): core.HttpResponsePromise<PumpUp.TaskDetailResponse> {
        return core.HttpResponsePromise.fromPromise(this.__get(request, requestOptions));
    }

    private async __get(
        request: PumpUp.TasksGetRequest,
        requestOptions?: TasksClient.RequestOptions,
    ): Promise<core.WithRawResponse<PumpUp.TaskDetailResponse>> {
        const { id } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "X-API-Version": requestOptions?.version ?? this._options?.version ?? "0" }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.PumpUpEnvironment.Default,
                `api/tasks/${core.url.encodePathParam(id)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as PumpUp.TaskDetailResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new PumpUp.BadRequestError(_response.error.body as PumpUp.ApiError, _response.rawResponse);
                case 404:
                    throw new PumpUp.NotFoundError(_response.error.body as PumpUp.ErrorResponse, _response.rawResponse);
                case 409:
                    throw new PumpUp.ConflictError(_response.error.body as PumpUp.ErrorResponse, _response.rawResponse);
                case 500:
                    throw new PumpUp.InternalServerError(
                        _response.error.body as PumpUp.ErrorResponse,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.PumpUpError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/api/tasks/{id}");
    }

    /**
     * Ascending cursor tail over the task's event log; pass nextCursor back as ?cursor= to resume. An absent cursor starts at the first event.
     *
     * @param {PumpUp.TasksEventsRequest} request
     * @param {TasksClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link PumpUp.BadRequestError}
     * @throws {@link PumpUp.NotFoundError}
     * @throws {@link PumpUp.ConflictError}
     * @throws {@link PumpUp.InternalServerError}
     *
     * @example
     *     await client.tasks.events({
     *         id: "id"
     *     })
     */
    public events(
        request: PumpUp.TasksEventsRequest,
        requestOptions?: TasksClient.RequestOptions,
    ): core.HttpResponsePromise<PumpUp.TaskEventsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__events(request, requestOptions));
    }

    private async __events(
        request: PumpUp.TasksEventsRequest,
        requestOptions?: TasksClient.RequestOptions,
    ): Promise<core.WithRawResponse<PumpUp.TaskEventsResponse>> {
        const { id, cursor, limit } = request;
        const _queryParams: Record<string, unknown> = {
            cursor,
            limit,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "X-API-Version": requestOptions?.version ?? this._options?.version ?? "0" }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.PumpUpEnvironment.Default,
                `api/tasks/${core.url.encodePathParam(id)}/events`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as PumpUp.TaskEventsResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new PumpUp.BadRequestError(_response.error.body as PumpUp.ApiError, _response.rawResponse);
                case 404:
                    throw new PumpUp.NotFoundError(_response.error.body as PumpUp.ErrorResponse, _response.rawResponse);
                case 409:
                    throw new PumpUp.ConflictError(_response.error.body as PumpUp.ErrorResponse, _response.rawResponse);
                case 500:
                    throw new PumpUp.InternalServerError(
                        _response.error.body as PumpUp.ErrorResponse,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.PumpUpError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/api/tasks/{id}/events");
    }
}
