// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders, mergeOnlyDefinedHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as PumpUp from "../../../index.js";

export declare namespace EventsClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

/**
 * Record autonomous agent activity on the timeline.
 */
export class EventsClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<EventsClient.Options>;

    constructor(options: EventsClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * @param {PumpUp.AgentActionRequest} request
     * @param {EventsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link PumpUp.BadRequestError}
     * @throws {@link PumpUp.NotFoundError}
     * @throws {@link PumpUp.ConflictError}
     * @throws {@link PumpUp.InternalServerError}
     *
     * @example
     *     await client.events.agentAction({
     *         "Idempotency-Key": "Idempotency-Key",
     *         description: "Auto-classified claim as low-risk",
     *         projectName: "projectName"
     *     })
     */
    public agentAction(
        request: PumpUp.AgentActionRequest,
        requestOptions?: EventsClient.RequestOptions,
    ): core.HttpResponsePromise<PumpUp.EventResponse> {
        return core.HttpResponsePromise.fromPromise(this.__agentAction(request, requestOptions));
    }

    private async __agentAction(
        request: PumpUp.AgentActionRequest,
        requestOptions?: EventsClient.RequestOptions,
    ): Promise<core.WithRawResponse<PumpUp.EventResponse>> {
        const { "Idempotency-Key": idempotencyKey, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "Idempotency-Key": idempotencyKey,
                "X-API-Version": requestOptions?.version ?? this._options?.version ?? "0",
            }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.PumpUpEnvironment.Default,
                "api/agent-actions",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: _body,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as PumpUp.EventResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new PumpUp.BadRequestError(_response.error.body as PumpUp.ApiError, _response.rawResponse);
                case 404:
                    throw new PumpUp.NotFoundError(_response.error.body as PumpUp.ErrorResponse, _response.rawResponse);
                case 409:
                    throw new PumpUp.ConflictError(_response.error.body as PumpUp.ErrorResponse, _response.rawResponse);
                case 500:
                    throw new PumpUp.InternalServerError(
                        _response.error.body as PumpUp.ErrorResponse,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.PumpUpError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/api/agent-actions");
    }

    /**
     * @param {PumpUp.ExceptionRequest} request
     * @param {EventsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link PumpUp.BadRequestError}
     * @throws {@link PumpUp.NotFoundError}
     * @throws {@link PumpUp.ConflictError}
     * @throws {@link PumpUp.InternalServerError}
     *
     * @example
     *     await client.events.exception({
     *         "Idempotency-Key": "Idempotency-Key",
     *         message: "OCR failed on uploaded document",
     *         projectName: "projectName"
     *     })
     */
    public exception(
        request: PumpUp.ExceptionRequest,
        requestOptions?: EventsClient.RequestOptions,
    ): core.HttpResponsePromise<PumpUp.EventResponse> {
        return core.HttpResponsePromise.fromPromise(this.__exception(request, requestOptions));
    }

    private async __exception(
        request: PumpUp.ExceptionRequest,
        requestOptions?: EventsClient.RequestOptions,
    ): Promise<core.WithRawResponse<PumpUp.EventResponse>> {
        const { "Idempotency-Key": idempotencyKey, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "Idempotency-Key": idempotencyKey,
                "X-API-Version": requestOptions?.version ?? this._options?.version ?? "0",
            }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.PumpUpEnvironment.Default,
                "api/exceptions",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: _body,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as PumpUp.EventResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new PumpUp.BadRequestError(_response.error.body as PumpUp.ApiError, _response.rawResponse);
                case 404:
                    throw new PumpUp.NotFoundError(_response.error.body as PumpUp.ErrorResponse, _response.rawResponse);
                case 409:
                    throw new PumpUp.ConflictError(_response.error.body as PumpUp.ErrorResponse, _response.rawResponse);
                case 500:
                    throw new PumpUp.InternalServerError(
                        _response.error.body as PumpUp.ErrorResponse,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.PumpUpError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/api/exceptions");
    }

    /**
     * @param {PumpUp.NoteRequest} request
     * @param {EventsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link PumpUp.BadRequestError}
     * @throws {@link PumpUp.NotFoundError}
     * @throws {@link PumpUp.ConflictError}
     * @throws {@link PumpUp.InternalServerError}
     *
     * @example
     *     await client.events.note({
     *         "Idempotency-Key": "Idempotency-Key",
     *         message: "Customer called to confirm bank details",
     *         projectName: "projectName"
     *     })
     */
    public note(
        request: PumpUp.NoteRequest,
        requestOptions?: EventsClient.RequestOptions,
    ): core.HttpResponsePromise<PumpUp.EventResponse> {
        return core.HttpResponsePromise.fromPromise(this.__note(request, requestOptions));
    }

    private async __note(
        request: PumpUp.NoteRequest,
        requestOptions?: EventsClient.RequestOptions,
    ): Promise<core.WithRawResponse<PumpUp.EventResponse>> {
        const { "Idempotency-Key": idempotencyKey, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "Idempotency-Key": idempotencyKey,
                "X-API-Version": requestOptions?.version ?? this._options?.version ?? "0",
            }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.PumpUpEnvironment.Default,
                "api/notes",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: _body,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as PumpUp.EventResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new PumpUp.BadRequestError(_response.error.body as PumpUp.ApiError, _response.rawResponse);
                case 404:
                    throw new PumpUp.NotFoundError(_response.error.body as PumpUp.ErrorResponse, _response.rawResponse);
                case 409:
                    throw new PumpUp.ConflictError(_response.error.body as PumpUp.ErrorResponse, _response.rawResponse);
                case 500:
                    throw new PumpUp.InternalServerError(
                        _response.error.body as PumpUp.ErrorResponse,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.PumpUpError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/api/notes");
    }
}
