// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders, mergeOnlyDefinedHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as PumpUp from "../../../index.js";

export declare namespace ElicitationsClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

/**
 * Ask a human for structured input and poll for the answers.
 */
export class ElicitationsClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<ElicitationsClient.Options>;

    constructor(options: ElicitationsClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Returns immediately with an event_id; poll the result endpoint by it for the answers.
     *
     * @param {PumpUp.CreateElicitationRequest} request
     * @param {ElicitationsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link PumpUp.BadRequestError}
     * @throws {@link PumpUp.NotFoundError}
     * @throws {@link PumpUp.ConflictError}
     * @throws {@link PumpUp.InternalServerError}
     *
     * @example
     *     await client.elicitations.create({
     *         "Idempotency-Key": "Idempotency-Key",
     *         fields: [{
     *                 id: "id",
     *                 label: "label"
     *             }],
     *         projectName: "projectName",
     *         summary: "Need additional details on the incident"
     *     })
     */
    public create(
        request: PumpUp.CreateElicitationRequest,
        requestOptions?: ElicitationsClient.RequestOptions,
    ): core.HttpResponsePromise<PumpUp.EventResponse> {
        return core.HttpResponsePromise.fromPromise(this.__create(request, requestOptions));
    }

    private async __create(
        request: PumpUp.CreateElicitationRequest,
        requestOptions?: ElicitationsClient.RequestOptions,
    ): Promise<core.WithRawResponse<PumpUp.EventResponse>> {
        const { "Idempotency-Key": idempotencyKey, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "Idempotency-Key": idempotencyKey,
                "X-API-Version": requestOptions?.version ?? this._options?.version ?? "0",
            }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.PumpUpEnvironment.Default,
                "api/elicitation-requests",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: _body,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as PumpUp.EventResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new PumpUp.BadRequestError(_response.error.body as PumpUp.ApiError, _response.rawResponse);
                case 404:
                    throw new PumpUp.NotFoundError(_response.error.body as PumpUp.ErrorResponse, _response.rawResponse);
                case 409:
                    throw new PumpUp.ConflictError(_response.error.body as PumpUp.ErrorResponse, _response.rawResponse);
                case 500:
                    throw new PumpUp.InternalServerError(
                        _response.error.body as PumpUp.ErrorResponse,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.PumpUpError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/api/elicitation-requests");
    }

    /**
     * 200 with the provided fields once a human has answered; 204 while still pending.
     *
     * @param {PumpUp.ElicitationsGetResultRequest} request
     * @param {ElicitationsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link PumpUp.BadRequestError}
     * @throws {@link PumpUp.NotFoundError}
     * @throws {@link PumpUp.ConflictError}
     * @throws {@link PumpUp.InternalServerError}
     *
     * @example
     *     await client.elicitations.getResult({
     *         id: "id"
     *     })
     */
    public getResult(
        request: PumpUp.ElicitationsGetResultRequest,
        requestOptions?: ElicitationsClient.RequestOptions,
    ): core.HttpResponsePromise<PumpUp.ElicitationResult> {
        return core.HttpResponsePromise.fromPromise(this.__getResult(request, requestOptions));
    }

    private async __getResult(
        request: PumpUp.ElicitationsGetResultRequest,
        requestOptions?: ElicitationsClient.RequestOptions,
    ): Promise<core.WithRawResponse<PumpUp.ElicitationResult>> {
        const { id } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "X-API-Version": requestOptions?.version ?? this._options?.version ?? "0" }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.PumpUpEnvironment.Default,
                `api/elicitation-requests/${core.url.encodePathParam(id)}/result`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as PumpUp.ElicitationResult, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new PumpUp.BadRequestError(_response.error.body as PumpUp.ApiError, _response.rawResponse);
                case 404:
                    throw new PumpUp.NotFoundError(_response.error.body as PumpUp.ErrorResponse, _response.rawResponse);
                case 409:
                    throw new PumpUp.ConflictError(_response.error.body as PumpUp.ErrorResponse, _response.rawResponse);
                case 500:
                    throw new PumpUp.InternalServerError(
                        _response.error.body as PumpUp.ErrorResponse,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.PumpUpError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/api/elicitation-requests/{id}/result",
        );
    }
}
