// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders, mergeOnlyDefinedHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as PumpUp from "../../../index.js";

export declare namespace ProjectsClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

/**
 * Discover projects and their step graphs.
 */
export class ProjectsClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<ProjectsClient.Options>;

    constructor(options: ProjectsClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Optionally filter by a case-insensitive substring of the display name or slug; the response carries the slug to reference on ingest.
     *
     * @param {PumpUp.ProjectsListRequest} request
     * @param {ProjectsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link PumpUp.BadRequestError}
     * @throws {@link PumpUp.NotFoundError}
     * @throws {@link PumpUp.ConflictError}
     * @throws {@link PumpUp.InternalServerError}
     *
     * @example
     *     await client.projects.list()
     */
    public list(
        request: PumpUp.ProjectsListRequest = {},
        requestOptions?: ProjectsClient.RequestOptions,
    ): core.HttpResponsePromise<PumpUp.ProjectListResponse> {
        return core.HttpResponsePromise.fromPromise(this.__list(request, requestOptions));
    }

    private async __list(
        request: PumpUp.ProjectsListRequest = {},
        requestOptions?: ProjectsClient.RequestOptions,
    ): Promise<core.WithRawResponse<PumpUp.ProjectListResponse>> {
        const { name } = request;
        const _queryParams: Record<string, unknown> = {
            name,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "X-API-Version": requestOptions?.version ?? this._options?.version ?? "0" }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.PumpUpEnvironment.Default,
                "api/projects",
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as PumpUp.ProjectListResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new PumpUp.BadRequestError(_response.error.body as PumpUp.ApiError, _response.rawResponse);
                case 404:
                    throw new PumpUp.NotFoundError(_response.error.body as PumpUp.ErrorResponse, _response.rawResponse);
                case 409:
                    throw new PumpUp.ConflictError(_response.error.body as PumpUp.ErrorResponse, _response.rawResponse);
                case 500:
                    throw new PumpUp.InternalServerError(
                        _response.error.body as PumpUp.ErrorResponse,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.PumpUpError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/api/projects");
    }

    /**
     * Includes the declared step graph.
     *
     * @param {PumpUp.ProjectsGetRequest} request
     * @param {ProjectsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link PumpUp.BadRequestError}
     * @throws {@link PumpUp.NotFoundError}
     * @throws {@link PumpUp.ConflictError}
     * @throws {@link PumpUp.InternalServerError}
     *
     * @example
     *     await client.projects.get({
     *         id: "id"
     *     })
     */
    public get(
        request: PumpUp.ProjectsGetRequest,
        requestOptions?: ProjectsClient.RequestOptions,
    ): core.HttpResponsePromise<PumpUp.ProjectResponse> {
        return core.HttpResponsePromise.fromPromise(this.__get(request, requestOptions));
    }

    private async __get(
        request: PumpUp.ProjectsGetRequest,
        requestOptions?: ProjectsClient.RequestOptions,
    ): Promise<core.WithRawResponse<PumpUp.ProjectResponse>> {
        const { id } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "X-API-Version": requestOptions?.version ?? this._options?.version ?? "0" }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.PumpUpEnvironment.Default,
                `api/projects/${core.url.encodePathParam(id)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as PumpUp.ProjectResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new PumpUp.BadRequestError(_response.error.body as PumpUp.ApiError, _response.rawResponse);
                case 404:
                    throw new PumpUp.NotFoundError(_response.error.body as PumpUp.ErrorResponse, _response.rawResponse);
                case 409:
                    throw new PumpUp.ConflictError(_response.error.body as PumpUp.ErrorResponse, _response.rawResponse);
                case 500:
                    throw new PumpUp.InternalServerError(
                        _response.error.body as PumpUp.ErrorResponse,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.PumpUpError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/api/projects/{id}");
    }
}
