// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders, mergeOnlyDefinedHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as PumpUp from "../../../index.js";

export declare namespace UploadsClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

/**
 * Upload files and resolve signed read URLs.
 */
export class UploadsClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<UploadsClient.Options>;

    constructor(options: UploadsClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * @param {PumpUp.UploadRequest} request
     * @param {UploadsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link PumpUp.BadRequestError}
     * @throws {@link PumpUp.NotFoundError}
     * @throws {@link PumpUp.ConflictError}
     * @throws {@link PumpUp.InternalServerError}
     *
     * @example
     *     import { createReadStream } from "fs";
     *     await client.uploads.upload({
     *         file: fs.createReadStream("/path/to/your/file")
     *     })
     */
    public upload(
        request: PumpUp.UploadRequest,
        requestOptions?: UploadsClient.RequestOptions,
    ): core.HttpResponsePromise<PumpUp.UploadRef> {
        return core.HttpResponsePromise.fromPromise(this.__upload(request, requestOptions));
    }

    private async __upload(
        request: PumpUp.UploadRequest,
        requestOptions?: UploadsClient.RequestOptions,
    ): Promise<core.WithRawResponse<PumpUp.UploadRef>> {
        const _body = await core.newFormData();
        await _body.appendFile("file", request.file);
        const _maybeEncodedRequest = await _body.getRequest();
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "X-API-Version": requestOptions?.version ?? this._options?.version ?? "0",
                ..._maybeEncodedRequest.headers,
            }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.PumpUpEnvironment.Default,
                "api/uploads",
            ),
            method: "POST",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "file",
            duplex: _maybeEncodedRequest.duplex,
            body: _maybeEncodedRequest.body,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as PumpUp.UploadRef, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new PumpUp.BadRequestError(_response.error.body as PumpUp.ApiError, _response.rawResponse);
                case 404:
                    throw new PumpUp.NotFoundError(_response.error.body as PumpUp.ErrorResponse, _response.rawResponse);
                case 409:
                    throw new PumpUp.ConflictError(_response.error.body as PumpUp.ErrorResponse, _response.rawResponse);
                case 500:
                    throw new PumpUp.InternalServerError(
                        _response.error.body as PumpUp.ErrorResponse,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.PumpUpError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/api/uploads");
    }

    /**
     * @param {PumpUp.UploadsGetRequest} request
     * @param {UploadsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link PumpUp.BadRequestError}
     * @throws {@link PumpUp.NotFoundError}
     * @throws {@link PumpUp.ConflictError}
     * @throws {@link PumpUp.InternalServerError}
     *
     * @example
     *     await client.uploads.get({
     *         id: "id"
     *     })
     */
    public get(
        request: PumpUp.UploadsGetRequest,
        requestOptions?: UploadsClient.RequestOptions,
    ): core.HttpResponsePromise<PumpUp.ResolvedUpload> {
        return core.HttpResponsePromise.fromPromise(this.__get(request, requestOptions));
    }

    private async __get(
        request: PumpUp.UploadsGetRequest,
        requestOptions?: UploadsClient.RequestOptions,
    ): Promise<core.WithRawResponse<PumpUp.ResolvedUpload>> {
        const { id } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "X-API-Version": requestOptions?.version ?? this._options?.version ?? "0" }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.PumpUpEnvironment.Default,
                `api/uploads/${core.url.encodePathParam(id)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as PumpUp.ResolvedUpload, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new PumpUp.BadRequestError(_response.error.body as PumpUp.ApiError, _response.rawResponse);
                case 404:
                    throw new PumpUp.NotFoundError(_response.error.body as PumpUp.ErrorResponse, _response.rawResponse);
                case 409:
                    throw new PumpUp.ConflictError(_response.error.body as PumpUp.ErrorResponse, _response.rawResponse);
                case 500:
                    throw new PumpUp.InternalServerError(
                        _response.error.body as PumpUp.ErrorResponse,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.PumpUpError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/api/uploads/{id}");
    }
}
